@model ToDo

<h2>New Task</h2>

<div asp-asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Add" method="post">
    <div class="mb-3">
        <label asp-for="TaskName" class="form-label">Task Name</label>
        <input asp-for="TaskName" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <input asp-for="Description" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="PriorityId" class="form-label">Priority Level</label>
        <select asp-for="PriorityId" class="form-select" asp-items="@(new SelectList(ViewBag.Priorities,"PriorityId","PriorityName"))">
            <option value="" disabled>-- Select Priority Level --</option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="DueDate" class="form-label">Due Date</label>
        <input asp-for="DueDate" class="form-control" type="date" />
    </div>

    <div class="mb-3">
        <label asp-for="StatusId" class="form-label">Status</label>
        <select asp-for="StatusId" class="form-select" asp-items="@(new SelectList(ViewBag.Statuses,"StatusId","StatusName"))">
            <option value="" disabled>-- Select Status --</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>

</form>